<div style = "text-align:center">
  <div class ="container-fluid" style = "display:inline-block;background-color:white; box-shadow: 2px 2px 2px 2px #2f2f2f;border-radius:5px;width:40%;margin:10px;height:60%;padding:10px;color:black">
  	<%= link_to "Enoch's Portfolio", "http://www.enochkorean.com" %>
  </div>
</div>
